{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "warn",
    "extends": ["plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "rules": {
      "prettier/prettier": "error"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}